<div class="center hero-unit">
  <h1>FlexNet </h1>
  <h2>Regional Network Interface </h2>
  <h2>Install</h2>

  <h2>
    Installation utility for the FlexNet
    <a href="http://sensus.com/">RNI Application</a>.    
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<!-- <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> -->